@if (password()) {
      <div class="strength-meter">
        <div class="strength-bars">
          @for (bar of bars(); track $index) {
            <div
              class="strength-bar"
              [style.background]="bar.filled ? strength().color : 'var(--gray-200)'"
            ></div>
          }
        </div>
        @if (strength().label) {
          <span class="strength-label" [style.color]="strength().color">
            {{ strength().label }}
          </span>
        }
      </div>

      <ul class="strength-rules">
        @for (rule of rules(); track rule.text) {
          <li class="rule" [class.rule-pass]="rule.pass">
            <span class="material-icons-outlined rule-icon">
              {{ rule.pass ? 'check_circle' : 'radio_button_unchecked' }}
            </span>
            <span>{{ rule.text }}</span>
          </li>
        }
      </ul>
    }
