<div class="skeleton-loader">
      @if (type() === 'card') {
        <div class="loader-cards">
          @for (card of cards(); track $index) {
            <app-skeleton-card />
          }
        </div>
      } @else if (type() === 'list') {
        <div class="loader-list">
          @for (item of cards(); track $index) {
            <div class="loader-list-item">
              <app-skeleton variant="avatar" />
              <div class="loader-list-content">
                <app-skeleton variant="text" width="50%" />
                <app-skeleton variant="text" width="30%" height="0.75rem" />
              </div>
            </div>
          }
        </div>
      } @else {
        <div class="loader-lines">
          @for (line of cards(); track $index) {
            <app-skeleton variant="text" [width]="randomWidth()" />
          }
        </div>
      }
    </div>
